#coding:utf-8
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label "ユーザ名" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Your Email" %><br />
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label "Sending To"%> <br />
    <%= f.text_area :send_address%>
  </div>

  <div class="field">
    <%= f.label "Admin?" %><br />
    <%= f.check_box :role, {}, 'admin','standard' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
