#coding:utf-8
<p id="notice"><%= notice %></p>

<p>
  <dev class = "show_head">
    <b>Name:</b>
    <%= @user.name %>
  </dev>
</p>

<p>
  <dev class = "show_head">
    <b>ID:</b>
    <%= @user.id %>
  </dev>
</p>

<p>
  <dev class = "show_head">
    <b>Admin権限:</b>
    <%= @user.admin? %>
  </dev>
</p>

<p>
  <dev class = "show_head">
    <b>送信先アドレス</b>
    <%= @user.send_address %>
  </dev>
</p>