#coding:utf-8
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>ID:</b>
  <%= @user.id %>
</p>

<p>
  <b>Admin?:</b>
  <%= @user.admin? %>
</p>

<p>
  <b>送信先アドレス</b>
  <%= @user.send_address %>
</p>