#coding:utf-8
<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @report.report_date %>
</p>

<p>
  <b>Title:</b>
  <%= @report.report_title %>
</p>

<p>
  <% @report.worktimes.each do |w| %>
    <b>Worktime</b>
    <p>Start_Time : <%=w.start_time.strftime('%H:%M')%></p>
    <p>End_Time   : <%=w.end_time.strftime('%H:%M')%></p>
    <b>Resttime</b>
    <p>Rest_Time   : <%=w.rest_time.strftime('%H:%M')%></p>
  <%end%>
</p>


<p>
  <b>Bodytext:</b>
  <%= @report.report_body_text %>
</p>

<p>
  <b>公開状態</b>
  <%= @report.public_flag? %>
</p>
<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'report-list', reports_path %>
