#coding:utf-8
<h2>-----------------サイトヘッダ--------------</h2>
<%if signed_in? %>
    サインインしていますね<br>
    ------------------------------------------------------<br>
    userID:[<%="#{current_user.id}"%>]
    Admin? :[<%= "#{current_user.admin?}"%>]
    <br>
    ユーザーの名前[ <%="#{current_user.name}"%> ]
    E-mail:[<%="#{current_user.email}"%>] <br>

    <%= link_to "Your Report", reports_path%>
    <%= link_to "Your Mounth Report", mounthreport_path%><!--#TODO: create -->
    <% if current_user.admin? %>
        <%= link_to "Report List(Admin)", reportslist_path%>
        <%= link_to "User list(Admin)", users_path%>
    <% end %>
    <br>
    <%= link_to "You", your_page_path%>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <br>
------------------------------------------------------
<% else %>
    サインインしていませんね<br>
<% end %>
<hr>